@charset "UTF-8";

body {
  margin: 0;
  font-family: 'Lato',sans-serif;
  color: #333;
}

.header {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star__logo {
  font-size: 40px;
  color: #333;
}

.header-contact {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: color 0.3s;
}

.header-contact:hover {
  color: #333;
}

.main {
  background-color: #f2f2f2;
  text-align: center;
}

.main-title {
  text-align: center;
  margin: 0 auto;
}

.main-sample__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
  padding-top: 250px;
}

.main-sample__subtitle {
  font-size: 30px;
  color: #c0c0c0;
  padding-bottom: 250px;
}

.section {
  background-color: #74cfae;
  padding-top: 50px 0;
}

.section-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
}

.section-image {
  width: 40%;
}

.section-text {
  width: 60%;
  color: #fff;
  text-align: center;
}

.section-text__title {
  font-size: 24px;
  margin-bottom: 35px;
  font-family: 'Raleway', sans-serif;
}

.section-text__description {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.article {
  background-color: #f2f2f2;
  padding: 70px 0;
}

.article-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__title {
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
}

.article__images {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 100px;
  row-gap: 80px;
  justify-content: center;
  list-style: none;
}

.article-image img {
  transition: opacity 0.3s;
  opacity: 0.7;
}

.article-image img:hover {
  opacity: 1;
}

.article__text-area {
  display: flex;
  align-items: flex-start;
  gap: 90px;
  margin: 90px auto 70px;
}

.article__text {
  width: 660px;
  font-size: 20px;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
}

.article-button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s;
}

.article-button:hover {
  color: #333;
}

.skills {
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px;
  text-align: center;
}

.skills-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #fff;
  margin-bottom: 50px;
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 180px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-item p {
  margin-top: 15px;
  font-size: 14px;
}

.nav {
  background-color: #f2f2f2;
  padding: 200px 0;
  text-align: center;
}

.sns-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sns-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.sns-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sns-box {
  width: 185px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.sns-box i {
  font-size: 40px;
  color: #74cfae;
}

.sns-box:hover {
  background-color: #fff;
}

.sns-box:hover i {
  color: #74cfae;
}


.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
}

.footer small {
  color: #fff;
}
